/* Global Styling */

* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

/* Header Styling */

header {
    background: #e0e0e0;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    cursor: not-allowed;
}

.neumorphism {
    align-items: center;
    background: #e0e0e0;
    border-radius: 50px;
    box-shadow: inset 5px 5px 10px #5a5a5a,
    inset -5px -5px 10px #ffffff;
    display: flex;
    height: 10vh;
    justify-content: center;
}

.engraved {
    font-size: 4vh;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 600;
    background-color: #5a5a5a;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245, 245, 245, 0.5) -1px 2px 1px;
}

/* Search Area */

main {
    background: #e0e0e0;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

.wrapper {
    background: #e0e0e0;
    border-radius: 50px;
    box-shadow: inset 5px 5px 10px #5a5a5a,
    inset -5px -5px 10px #ffffff;
    display: flex;
    height: 87vh;
    justify-content: center;
    width: 100%;
}

.container {
    width: 81vw;
}

.container .btn {
    display: block;
    width: 70%;
    height: 5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 4vh;
    margin-bottom: 1vh;
    margin-left: 13.15vw;
}


.container .clear {
    display: block;
    width: 50%;
    height: 5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 4vh;
    margin-bottom: 7vh;
    margin-left: 22.225vw;
}

.containerTwo {
    width: 78vw;
}

.containerTwo button {
    display: block;
    width: 90%;
    height: 7vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-bottom: 2vh;
    margin-left: 2vw;
}

/* Scroll Bar */

#outerDivWrapper, #outerDiv {
    height: 80vh;
}
 
#scrollableContent {
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
    margin-bottom: 2vh;
}

.vertical-scroll::-webkit-scrollbar {
    width: 3vw;
}
  
.vertical-scroll::-webkit-scrollbar-track {
    border-radius: 100vw;
    box-shadow: inset 5px 5px 10px #5a5a5a,
    inset -5px -5px 10px #ffffff;
}
  
.vertical-scroll::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 50%);
    border: 0.5vw solid hsl(0, 0%, 100%);
    border-radius: 100vw;
}

.vertical-scroll::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 0%);
}

/* Enter A City Button Search Bar */

.finder {
    background: #e0e0e0;
    border: none;
    border-radius: 50px;
    box-shadow: -5px -5px 0.5vh #ffffff, 5px 5px 0.5vh #5a5a5a;
    font-size: 3vh;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 600;
    background-color: #5a5a5a;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245, 245, 245, 0.5) -1px 2px 1px;
    line-height: 3vh;
    text-align: center;
}

.finder:hover,
.finder:focus {
    box-shadow: inset -5px -5px 0.5vh #ffffff, inset 5px 5px 0.5vh #5a5a5a;
    font-size: 3vh;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 600;
    background-color: #5a5a5a;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245, 245, 245, 0.5) -1px 2px 1px;
    line-height: 3vh;
}

/* Enter a City Button Placeholder Text */

input::placeholder {
    font-size: 3vh;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 600;
    color: #ffffff;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: #5a5a5a 1px 2px 1px;
    line-height: 3vh;
    text-align: center;
}

input:hover::-webkit-input-placeholder {
    font-size: 3vh;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 600;
    background-color: #5a5a5a;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245, 245, 245, 0.5) -1px 2px 1px;
    line-height: 3vh;
    text-align: center;
}

input:hover:-moz-placeholder {
    font-size: 3vh;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 600;
    background-color: #5a5a5a;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245, 245, 245, 0.5) -1px 2px 1px;
    line-height: 3vh;
    text-align: center;
}

input:hover::-moz-placeholder {
    font-size: 3vh;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 600;
    background-color: #5a5a5a;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245, 245, 245, 0.5) -1px 2px 1px;
    line-height: 3vh;
    text-align: center;
}

input:hover:-ms-input-placeholder {
    font-size: 3vh;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 600;
    background-color: #5a5a5a;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245, 245, 245, 0.5) -1px 2px 1px;
    line-height: 3vh;
    text-align: center;
}

input:focus::-webkit-input-placeholder {
    opacity:0;
}

input:focus:-moz-placeholder {
    opacity:0;
}

input:focus::-moz-placeholder {
    opacity:0;
}

input:focus:-ms-input-placeholder {
    opacity:0;
}

/* Button Styling */

button {
    background: #e0e0e0;
    border: none;
    border-radius: 50px;
    box-shadow: -5px -5px 0.5vh #ffffff, 5px 5px 0.5vh #5a5a5a;
    font-size: 3vh;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 600;
    color: #ffffff;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: #5a5a5a 1px 2px 1px;
    line-height: 3vh;
}

button:hover,
button:focus {
    box-shadow: inset -5px -5px 0.5vh #ffffff, inset 5px 5px 0.5vh #5a5a5a;
    font-size: 3vh;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 600;
    background-color: #5a5a5a;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245, 245, 245, 0.5) -1px 2px 1px;
    line-height: 3vh;
    cursor: pointer;
}

button:active {
    box-shadow: inset -5px -5px 0.5vh #ffffff, inset 5px 5px 0.5vh #5a5a5a;
    font-size: 3vh;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 600;
    background-color: #5a5a5a;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245, 245, 245, 0.5) -1px 2px 1px;
    line-height: 3vh;
    cursor: wait;
}

/* Search Bar With Magnify Glass*/

form {
    transition: all 0.5s;
    margin-right: 4vw;
}

.finder {
    background: hsl (0, 0%, 50%);
    border-radius: 50px;
    box-shadow: -5px -5px 0.5vh #ffffff, 5px 5px 0.5vh #5a5a5a;
    margin-left: 3.6vw;
}

.finder__outer {
    display: flex;
    height: 11vh;
    width: 62vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 10px;
    margin-top: 5vh;
    margin-left: 3.645vw;
    justify-content: center;
    align-items: center;
}

.finder__inner {
    display: flex;
    align-items: center;
    margin-left: 12vw;
}

.finder__form {
    background: #eaeaea;
    height: calc(100%);
}

.finder__input {
    height: calc(100%);
    border: none;
    background-color: #eaeaea;
    outline: none;
    font-size: 3vh;
    line-height: 3vh;
    width: 57.5vw;
}

.finder__icon {
    width: 40px;
    height: 40px;
    margin-right: -6vw;
    transition: all 0.2s;
    box-shadow: inset 0 0 0 20px #292929;
    border-radius: 50%;
    position: relative;
}

.finder__icon:after, .finder__icon:before {
    display: block;
    content: "";
    position: absolute;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.finder__icon:after {
    width: 10px;
    height: 10px;
    background-color: #292929;
    border: 3px solid #f6f5f0;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    left: 0px;
    right: 0;
    margin: auto;
    border-radius: 50%;
}

.active self:after {
    border-width: 10px;
    background-color: #f6f5f0;
}

.finder__icon:before {
    width: 4px;
    height: 13px;
    background-color: #f6f5f0;
    top: 50%;
    left: 20px;
    transform: rotateZ(45deg) translate(-50%, 0);
    transform-origin: 0 0;
    border-radius: 4px;
}

.active self:before {
    background-color: #292929;
    width: 6px;
    transform: rotateZ(45deg) translate(-50%, 25px);
}

.processing .finder__icon {
    transform-origin: 50%;
    animation: spinner 0.3s linear infinite;
    animation-delay: 0.5s;
}

.active .finder__icon {
    transform: translateY(-5px);
}

.formText {
    font-size: 4vh;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 600;
    background-color: #5a5a5a;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245, 245, 245, 0.5) -1px 2px 1px;
    text-align: center;
    margin-right: 7.245vw;
}

/* Current Day/5 Day Forecast Styling */

#currentForecast {
    background: #e0e0e0;
    padding-top: 4vh;
    padding-bottom: 5vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

#temp,
#descr,
#humid,
#speed,
#uviDiv {
    font-size: 3vh;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 600;
    color: #ffffff;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: #5a5a5a 1px 2px 1px;
    line-height: 3vh;
    text-align: center;
    margin-left: 5vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

#city {
    font-size: 5vh;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 600;
    color: #ffffff;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: #5a5a5a 2px 4px 2px;
    line-height: 3vh;
    text-align: center;
    margin-left: 5vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

#date {
    font-size: 3vh;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 600;
    background-color: #5a5a5a;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245, 245, 245, 0.5) -1px 2px 1px;
    line-height: 3vh;
    text-align: center;
    margin-left: 5vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

#city,
#date,
#temp,
#descr,
#humid,
#speed,
#uviDiv {
    border-radius: 50px;
    box-shadow: -5px -5px 0.5vh #ffffff, 5px 5px 0.5vh #5a5a5a;
    width: 67vw;
    cursor: not-allowed;
}

#date2 {
    font-size: 3vh;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 600;
    background-color: #5a5a5a;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245, 245, 245, 0.5) -1px 2px 1px;
    line-height: 3vh;
    text-align: center;
    margin-left: 5vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    border-radius: 50px;
    box-shadow: -5px -5px 0.5vh #ffffff, 5px 5px 0.5vh #5a5a5a;
    width: 67vw;
    cursor: not-allowed;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.iconDescr2 {
    background: transparent;
}

.margins {
    margin-bottom: 5vh;
}

.margins2 {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.iconMargins {
    margin-left: 5vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    border-radius: 50px;
    box-shadow: -5px -5px 0.5vh #ffffff, 5px 5px 0.5vh #5a5a5a;
    width: 67vw;
    cursor: not-allowed;
    padding-left: 28.5vw;
}

.margins {
    cursor: not-allowed;
}

.margins2 {
    cursor: not-allowed;
}