/* Global Styling */

* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

/* Header Styling */

header {
    background: #e0e0e0;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    cursor: not-allowed;
}

.neumorphism {
    align-items: center;
    background: #e0e0e0;
    border-radius: 50px;
    box-shadow: inset 5px 5px 10px #5a5a5a,
    inset -5px -5px 10px #ffffff;
    display: flex;
    height: 10vh;
    justify-content: center;
}

.engraved {
    font-size: 4vh;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 600;
    background-color: #5a5a5a;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245, 245, 245, 0.5) -1px 2px 1px;
}
<<<<<<< HEAD

/* Search Area */

main {
    background: #e0e0e0;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

.wrapper {
    background: #e0e0e0;
    border-radius: 50px;
    box-shadow: inset 5px 5px 10px #5a5a5a,
    inset -5px -5px 10px #ffffff;
    display: flex;
    height: 87vh;
    justify-content: center;
    width: 100%;
}

.container {
    width: 81vw;
}

.container .searchBar {
    display: block;
    width: 90%;
    height: 7vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 3vh;
    margin-bottom: 1vh;
    margin-left: 5.05vw;
}

.container .btn {
    display: block;
    width: 70%;
    height: 5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 4vh;
    margin-bottom: 1vh;
    margin-left: 13.15vw;
}


.container .clear {
    display: block;
    width: 50%;
    height: 5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 4vh;
    margin-bottom: 7vh;
    margin-left: 22.225vw;
}

.containerTwo {
    width: 78vw;
}

.containerTwo button {
    display: block;
    width: 90%;
    height: 7vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-bottom: 2vh;
    margin-left: 2vw;
}

/* Scroll Bar */

#outerDivWrapper, #outerDiv {
    height: 80vh;
}
 
#scrollableContent {
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
    margin-bottom: 2vh;
}

.vertical-scroll::-webkit-scrollbar {
    width: 3vw;
}
  
.vertical-scroll::-webkit-scrollbar-track {
    border-radius: 100vw;
    box-shadow: inset 5px 5px 10px #5a5a5a,
    inset -5px -5px 10px #ffffff;
}
  
.vertical-scroll::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 50%);
    border: 0.5vw solid hsl(0, 0%, 100%);
    border-radius: 100vw;
}

.vertical-scroll::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 0%);
}

/* Enter a City Button */

input {
    background: #e0e0e0;
    border: none;
    border-radius: 50px;
    box-shadow: -5px -5px 0.5vh #ffffff, 5px 5px 0.5vh #5a5a5a;
    font-size: 3vh;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 600;
    background-color: #5a5a5a;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245, 245, 245, 0.5) -1px 2px 1px;
    line-height: 3vh;
    text-align: center;
}

input:hover,
input:focus {
    box-shadow: inset -5px -5px 0.5vh #ffffff, inset 5px 5px 0.5vh #5a5a5a;
    font-size: 3vh;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 600;
    background-color: #5a5a5a;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245, 245, 245, 0.5) -1px 2px 1px;
    line-height: 3vh;
}

/* Enter a City Button Placeholder Text */

input::placeholder {
    font-size: 3vh;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 600;
    color: #ffffff;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: #5a5a5a 1px 2px 1px;
    line-height: 3vh;
    text-align: center;
}

input:hover::-webkit-input-placeholder {
    font-size: 3vh;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 600;
    background-color: #5a5a5a;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245, 245, 245, 0.5) -1px 2px 1px;
    line-height: 3vh;
    text-align: center;
}

input:hover:-moz-placeholder {
    font-size: 3vh;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 600;
    background-color: #5a5a5a;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245, 245, 245, 0.5) -1px 2px 1px;
    line-height: 3vh;
    text-align: center;
}

input:hover::-moz-placeholder {
    font-size: 3vh;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 600;
    background-color: #5a5a5a;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245, 245, 245, 0.5) -1px 2px 1px;
    line-height: 3vh;
    text-align: center;
}

input:hover:-ms-input-placeholder {
    font-size: 3vh;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 600;
    background-color: #5a5a5a;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245, 245, 245, 0.5) -1px 2px 1px;
    line-height: 3vh;
    text-align: center;
}

input:focus::-webkit-input-placeholder {
    opacity:0;
}

input:focus:-moz-placeholder {
    opacity:0;
}

input:focus::-moz-placeholder {
    opacity:0;
}

input:focus:-ms-input-placeholder {
    opacity:0;
}

/* Blinking Cursor */

.blinking-cursor {
    font-size: 3vh;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 600;
    background-color: #5a5a5a;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245, 245, 245, 0.5) -1px 2px 1px;
    line-height: 3vh;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}
  
@keyframes blink {
    from, to {
      color: white;
    }
    50% {
      color: transparent;
    }
}
  
@-moz-keyframes blink {
    from, to {
      color: white;
    }
    50% {
      color: transparent;
    }
}
  
@-webkit-keyframes blink {
    from, to {
      color: white;
    }
    50% {
      color: transparent;
    }
}
  
@-ms-keyframes blink {
    from, to {
      color: white;
    }
    50% {
      color: transparent;
    }
}
  
@-o-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
}

/* Button Styling */

button {
    background: #e0e0e0;
    border: none;
    border-radius: 50px;
    box-shadow: -5px -5px 0.5vh #ffffff, 5px 5px 0.5vh #5a5a5a;
    font-size: 3vh;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 600;
    color: #ffffff;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: #5a5a5a 1px 2px 1px;
    line-height: 3vh;
}

button:hover,
button:focus {
    box-shadow: inset -5px -5px 0.5vh #ffffff, inset 5px 5px 0.5vh #5a5a5a;
    font-size: 3vh;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 600;
    background-color: #5a5a5a;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245, 245, 245, 0.5) -1px 2px 1px;
    line-height: 3vh;
    cursor: pointer;
}

button:active {
    box-shadow: inset -5px -5px 0.5vh #ffffff, inset 5px 5px 0.5vh #5a5a5a;
    font-size: 3vh;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 600;
    background-color: #5a5a5a;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245, 245, 245, 0.5) -1px 2px 1px;
    line-height: 3vh;
    cursor: wait;
}
=======
>>>>>>> 96f177d4d27afe2218d1e7137ca1623c0e06b685
